apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-deployment
  namespace: lamp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web-deployment
  template:
    metadata:
      labels:
        app: web-deployment
    spec:
      containers:
      - name: web-deployment
        image: nginx:1.14.2
        ports:
        - containerPort: 80
        securityContext:
          allowPrivilegeEscalation: false
          runAsUser: 30000
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
